@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');

#header-products {
  display: flex;
  flex-flow: row nowrap;
  position: relative;
  justify-content: center;
  top: -130px;
  width: 80vw;
}

#header-products .header-products-info {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

#header-products .header-products-info .header-products-info-img {
  width: 260px;
  height: 260px;
  user-select: none;
}

#header-products .header-products-info .header-products-info-img img {
  display: block;
  width: 100%;
}

#header-products .header-products-info .header-products-info-title {
  font-family: 'Teko', sans-serif;
  font-size: 17pt;
  color: #44ACCF;
  margin-bottom: 5px;
}

#header-products .header-products-info .header-products-info-btn-buy {
  font-family: 'Teko', sans-serif;
  font-size: 13pt;
  border: none;
  background: linear-gradient(to right, #44ACD0, #96BC4F);
  color: #ffffff;
  padding: 2px 28px;
  user-select: none;
}

#header-products .header-products-info .header-products-info-btn-buy:hover {
  background: linear-gradient(to right, #44ACD0, #44ACD0);
  cursor: pointer;
}