.buy-now {
  --white-color: #fff;
  --blue-color: #44ACCF;
  --black-color: #202020;
  --green-color: #95BC50;
  background: linear-gradient(to right, var(--blue-color), var(--green-color));
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 3em 0 3.9em 0;
}

.buy-now_margin_top {
  margin-top: 3em;
}

.buy-now__title {
  font-family: 'Teko', sans-serif;
  font-size: 27pt;
  padding-bottom: 0.3em;
  color: var(--white-color);
  font-weight: normal;
}

.buy-now__text {
  font-family: 'Oxygen', sans-serif;
  font-size: 13pt;
  text-align: center;
  color: var(--white-color);
}

.buy-now__btn {
  background-color: var(--white-color);
  padding: 0.3em 2.5em;
  font-family: 'Teko', sans-serif;
  font-size: 16pt;
  border: none;
  color: var(--blue-color);
  box-shadow: 0 1px 3px 0 #478397;
  transition-property: background-color, color;
  transition-duration: 0.4s;
  transition-timing-function: ease-out;
}

.buy-now__btn:hover {
  background-color: var(--black-color);
  color: var(--white-color);
  cursor: pointer;
  transition-property: background-color, color;
  transition-duration: 0.4s;
  transition-timing-function: ease-in;
}

.buy-now__btn_margin_top {
  margin-top: 2em;
}

@media screen and (max-width: 1600px) {
  .buy-now__title {
    font-size: 25pt;
  }
  
  .buy-now__text {
    font-size: 11pt;
  }

  .buy-now__btn {
    font-size: 14pt;
  }
}

@media screen and (max-width: 900px) {
  .buy-now__text {
    font-size: 13pt;
    width: 85%;
  }

  .buy-now__btn {
    font-size: 15pt;
  }
}